<form [formGroup] = "employeeForm" (ngSubmit)="onSubmit()" style="width: 900px;">
  <div class="form-group">
    <label>Id</label>
    <input
      type="text"
      class="form-control"
      id="id"
      placeholder="id"
      formControlName="id"
    >
  </div>
  <div class="form-group">
    <label>Name</label>
    <input
      type="text"
      class="form-control"
      id=""
      placeholder="name"
      formControlName="name"
    >
  </div>
  <div class="form-group">
    <label>Email</label>
    <input
      type="text"
      class="form-control"
      id="email"
      placeholder="email"
      formControlName="email"
    >
  </div>
    <div class="form-check">
        <label class="form-check-label" for="active">Is currently employed?  </label>
        <input
            type="checkbox"
            class="form-check-input"
            id="active"
            placeholder="active"
            formControlName="active"
            [value]="true"
        >
    </div>
    <div style="text-align: center">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
